[user]
	email = gerardbajona@gmail.com
	name = Gerard\n
[core]
	editor = nvim
[alias]
	lod = log --oneline --decorate --all --graph
	lol = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(green)(%cr)'
	loa = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(green)(%cr) %C(cyan)[%an]'
	gst = status
	ci = commit
	unstage = reset HEAD
	go = checkout
