[user]
	email = gerardbajona@gmail.com
	name = Gerard\n
[core]
	editor = nvim
[alias]
	lod = log --oneline --decorate
	lodag = log --oneline --decorate --all --graph
	gst = status
	ci = commit
	unstage = reset HEAD
	go = checkout
