! ------------------------------------------------------------
! XFT
! ------------------------------------------------------------

Xft.dpi       : 96
Xft.antialias : true
Xft.hinting   : true
Xft.rgba      : rgb
Xft.autohint  : false
Xft.hintstyle : hintfull
Xft.lcdfilter : lcddefault

! ------------------------------------------------------------
! Variables
! ------------------------------------------------------------

#define base1 #141A1F
#define acr50 #EC5252
#define acg50 #5DA813
#define aco50 #C97016
#define acb50 #3790E9
#define acv50 #A35AED
#define acc50 #13AEAE
#define base3 #53697F
#define base2 #202931
#define acr70 #FF9191
#define acg70 #9ACD68
#define aco70 #EDA45C
#define acb70 #7DBEFF
#define acv70 #CA96FF
#define acc70 #6ECFCF
#define base4 #A6B5C5

! ------------------------------------------------------------
! URxvt
! ------------------------------------------------------------

URxvt.font           : xft:Terminus:size=13
URxvt.letterSpace    : -1
URxvt.internalBorder : 4
URxvt.scrollBar      : false
URxvt.pointerBlank   : true
URxvt.hold           : false
URxvt.iso14755       : false
URxvt.iso14755_52    : false
URxvt*loginShell     : true
URxvt*buffered       : true
URxvt*depth          : 32
URxvt*foreground     : base4
URxvt*background     : [90]base1
URxvt*borderColor    : [90]base1

URxvt.keysym.S-F1  : \033[11;2~
URxvt.keysym.S-F2  : \033[12;2~
URxvt.keysym.S-F3  : \033[13;2~
URxvt.keysym.S-F4  : \033[14;2~
URxvt.keysym.S-F5  : \033[15;2~
URxvt.keysym.S-F6  : \033[17;2~
URxvt.keysym.S-F7  : \033[18;2~
URxvt.keysym.S-F8  : \033[19;2~
URxvt.keysym.S-F9  : \033[20;2~
URxvt.keysym.S-F10 : \033[21;2~
URxvt.keysym.S-F11 : \033[23;2~
URxvt.keysym.S-F12 : \033[24;2~

! ------------------------------------------------------------
! Colors
! ------------------------------------------------------------

*color0  : base1
*color1  : acr50
*color2  : acg50
*color3  : aco50
*color4  : acb50
*color5  : acv50
*color6  : acc50
*color7  : base3
*color8  : base2
*color9  : acr70
*color10 : acg70
*color11 : aco70
*color12 : acb70
*color13 : acv70
*color14 : acc70
*color15 : base4

! XTerm escape sequences
! 10   = base4 (foreground)
! 11   = base1 (background)
! 708  = base1 (borderColor)
! 4;1  = acr50
! 4;2  = acg50
! 4;3  = aco50
! 4;4  = acb50
! 4;5  = acv50
! 4;6  = acc50
! 4;7  = base3
! 4;8  = base2
! 4;9  = acr70
! 4;10 = acg70
! 4;11 = aco70
! 4;12 = acb70
! 4;13 = acv70
! 4;14 = acc70

! Switch color schemes (Atomic colors)
! Dark mode
URxvt.keysym.C-1: command:\033]10;#A6B5C5\007\033]11;[90]#141A1F\007\033]708;[90]#141A1F\007\033]4;1;#EC5252\007\033]4;2;#5DA813\007\033]4;3;#C97016\007\033]4;4;#3790E9\007\033]4;5;#A35AED\007\033]4;6;#13AEAE\007\033]4;7;#53697F\007\033]4;8;#202931\007\033]4;9;#FF9191\007\033]4;10;#9ACD68\007\033]4;11;#EDA45C\007\033]4;12;#7DBEFF\007\033]4;13;#CA96FF\007\033]4;14;#6ECFCF\007

! Night mode
URxvt.keysym.C-2: command:\033]10;#C0AF9F\007\033]11;[90]#1E1813\007\033]708;[90]#1E1813\007\033]4;1;#EC5252\007\033]4;2;#5DA813\007\033]4;3;#C97016\007\033]4;4;#3790E9\007\033]4;5;#A35AED\007\033]4;6;#13AEAE\007\033]4;7;#76614D\007\033]4;8;#2E261E\007\033]4;9;#FF9191\007\033]4;10;#9ACD68\007\033]4;11;#EDA45C\007\033]4;12;#7DBEFF\007\033]4;13;#CA96FF\007\033]4;14;#6ECFCF\007

! Light mode
URxvt.keysym.C-3: command:\033]10;#594A3A\007\033]11;#F8F0E7\007\033]708;#F8F0E7\007\033]4;1;#C11C1C\007\033]4;2;#346900\007\033]4;3;#824100\007\033]4;4;#095CAE\007\033]4;5;#7C19DF\007\033]4;6;#006E6E\007\033]4;7;#B7916C\007\033]4;8;#F2E3D4\007\033]4;9;#EC5252\007\033]4;10;#5DA813\007\033]4;11;#C97016\007\033]4;12;#3790E9\007\033]4;13;#A35AED\007\033]4;14;#13AEAE\007

! ------------------------------------------------------------
! Plugins
! ------------------------------------------------------------

! Perl extensions
URxvt.perl-ext             : default,url-select
URxvt.keysym.M-u           : perl:url-select:select_next
URxvt.url-select.launcher  : /usr/bin/qutebrowser
URxvt.url-select.underline : true

! Plugin: 'urxvt-resize-font-git'
URxvt.perl-ext-common     : resize-font
URxvt.resize-font.smaller : C-Down
URxvt.resize-font.bigger  : C-Up

! ------------------------------------------------------------
! Rofi
! ------------------------------------------------------------

rofi.terminal          : /usr/bin/urxvtc
rofi.run-shell-command : /usr/bin/urxvtc -e '{cmd}'
rofi.ssh-command       : tmux split-window -h -p 50 '{ssh-client} {host}'
rofi.sidebar-mode      : true
rofi.fuzzy             : true
rofi.font              : DejaVu\ Sans\ Mono\ 11
rofi.location          : 0
rofi.width             : 34
rofi.padding           : 8
rofi.borderwidth       : 1
rofi.columns           : 1
rofi.lines             : 7
rofi.separator-style   : solid

! Key bindings
rofi.kb-cancel        : Escape,Control+c
rofi.kb-mode-next     : Control+Tab,Control+l
rofi.kb-mode-previous : Control+Shift+Tab,Control+h

! Colors            bg     fg     altbg  hlbg   hlfg
rofi.color-normal : base1, base4, base1, base3, base1
rofi.color-urgent : base1, acr50, base1, acr50, base1
rofi.color-active : base1, acc50, base1, acc50, base1
rofi.color-window : base1, base3, base3
rofi.bw           : 1
